

<nav>
	
</nav>



<main>
  <div class="cover row">
  	
    <div class="col-t-8 col-8 article eclipse">
      <div class="cover-header">
        <h5>INSIGHTS</h5>
        <h2>How to follow today's eclipse, even if you live outside the US</h2>
        <ul>
          <li>by Matthew Hugues</li>
          <li>47 minutes ago</li>
          <li>1</li>
        </ul>
      </div>
    </div>
    <div class="col-t-4 col-4 article shutterstock">
      <div class="cover-header">
        <h5>APPS</h5>
        <h2>Shutterstock has reverse engineered Google's watermark removal app</h2>
        <ul>
          <li>by Mix</li>
          <li>10 minutes ago</li>
          <li>0</li>
        </ul>
      </div>
    </div>
    <div class="col-t-4 col-4 article oldnew">
      <div class="cover-header">
        <h5>APPS</h5>
        <h2>Google is testing a handy new playback UI for YouTube</h2>
        <ul>
          <li>by Mix</li>
          <li>2 hours ago</li>
          <li>38</li>
        </ul>
      </div>
    </div>

  </div>	
</main>




<footer>
	
</footer>