<h1>*** Place a point on the map ***</h1>
<p>Enter coordinates to put a pin on the map</p>

<div>
	<form id="user_form">
		<label>Latitude</label>
		<input id="lat" placeholder="Latitude" type="text">
		<label>Longitude</label>
		<input id="long" placeholder="Longitude" type="text"><br>
		<label>Message</label>
		<input type="textarea" placeholder="Short description for this place?"><br><br>
		<input id="submit" type="button" title="Place a point" value="hello">
	</form>
</div>

<div id=googlemap></div>
