

  <header>
  	<a href="https://www.mint.com/" target="_blank">
  	  <img src="/mint_logo.png" alt="www.mint.com">
  	</a>
  </header>

	<div class=globaldiv>
  	  <div class=left_column>
		<form>
		  <h1>See all your finances in one<br>place</h1>
		  <label for="email" class="field_name">Your Email</label><br><br>
		  <input type="email" name="Your_email" id="email"><br><br>

		  <label for="email_confirmation" class="field_name">Confirm Email</label><br><br>
		  <input type="email" name="Email_confirmation" id="email_confirmation"><br><br>

		  <label for="phone" class="field_name">Phone (recommended)</label><br><br>
		  <input type="tel" name="Phone_number" id="phone"><br>
		  <p>Standard call, messaging or data rates may apply.</p><br>


		  <label for="password" class="field_name">Password</label><br><br>
		  <input type="password" name="password" id="password"><br><br>

		  <label for="password_confirmationl" class="field_name">Confirm Password</label><br><br>
		  <input type="password" name="password" id="password"><br><br>

		  <input type="checkbox" name="rememberme" value="Remember me"> Remember me<br><br>

		  <input type="button" name="signup" value="   SIGN UP   "><br>
		  <p>By clicking Sign Up you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy statement</a></p>
		</form>
	  </div>

	  <div class=whys>
	    <h2>Why you'll love it</h2>
	    <ul>
	  	  <li>See all your accounts in one place</li>
	  	  <li>Find the best ways to grow your money</li>
	  	  <li>Stay <a href="#">safe and secure</a></li>
	    </ul>
	  </div>
    </div>

