<h1>Delicious food for less than 8€ !!</h1>

<div class="container">
	<div class="left-arrow">
		<i class="fa fa-arrow-circle-left fa-3x" aria-hidden="true"></i>
	</div>
	<div class="slides">
		<ul>
			<li><img src="assets/katsudon.jpeg" width='600'></li>
			<li><img src="assets/ramen.jpeg" width='600'></li>
			<li><img src="assets/shakeikuradon.jpeg" width='600'></li>
			<li><img src="assets/gyudon.jpeg" width='600'></li>
		</ul>
	</div>
	<div class="right-arrow">
		<i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i>

	</div>
</div>