<h1>*** List of the studio Ghibli movies ***</h1>

<table>
<tr>
	<th>Title</th>
	<th>Year of release</th>
</tr>

<% @movies.each do |movie| %>
	<tr>
		<td><%= movie.title %></td>
		<td><%= movie.release_year %></td>
	</tr>
<% end %>
</table>